@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Scheherazade:400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);
  list-style: none;

}
a{
    text-decoration: none;
}
.scrolled{
    position: fixed; 
    top: 0;
    transition: all ease-in 300ms;
    width: 100%;
}
.scrolled p{
    display: none;
}
@media(min-width: 768px){
    .scrolled p{
        display: none;
    }
    .scrolled p:nth-child(2){
        display: none;
    }
}
.scrolled button{
    padding: 5px;
}
/* @media(min-width: 768px){
    .scrolled .navWrapper{
        grid-template-columns:3fr 1fr;
    }
} */