@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Scheherazade:400,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);
  list-style: none;

}
a{
    text-decoration: none;
}
